.navigation {
    border:  outset black;
    background-color: #5F7A78;
    text-align: center;
    box-shadow: 5px 10px;
  }
.inline-block {
      display: inline-block;
      vertical-align: top;
      border: 1px inset black;
      background-color: rgb(255, 255, 255);
      text-align: center;
      padding: 1%;
      width: 300px;
  }
  .inline-block-text {
    display: inline-block;
    vertical-align: left;
    border: 1px inset black;
    background-color: lightgray;
    text-align: left;
    padding: 1%;
    width: 300px;
  }
  .about-block {
    display: block;
    border: 1px outset black;
    background-color: lightgray;
    margin: auto;
    text-align: center;
    padding: 1%;
}
  .inline-block-logo {
    display: inline-block;
    vertical-align: center;
    border: 1px inset black;
    background-color: lightgray;
    text-align: center;
    padding: 1%;
}
.logo {
      width: 23%;
      padding-top: 1%;
      padding-right: 4%;
      padding-bottom: 1%;
      padding-left: 4%;
      text-align: center;
  }
.ul {
      width: 50%;
      margin-left: auto;
  }
.heroimg {
    height: 600px;
    padding: 25px;
    text-align: center;
  }
  
  .img {
width: 1924px;
height: 991px;
  }
.content {
  display: flex;
    width: 500px;
    margin: 0 auto;
    padding: 1%;
  }
.footer {
    display: inline-block;
    background-color: #373738;
    padding: center;
    vertical-align: top;
    
  }
.click-me {
    width: 25%;
    margin: 0 auto;
    box-shadow: 5px 10px;
  }
  link {
      display: none;
  }
  .content {
   display: flex;
   background-color: #5F7A78;
    width: 320px;
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    margin: 0
  
  }
  .flexcontainer {
    display: flex;
   width: 33%;
   margin: 0%;
   padding-left: 10px;
    justify-content: center;
    flex-direction: column;
  }
  p.solid {
    border-style: solid;
    border-width: 5px;
  }
  .box{
      padding: 20px;
      margin: 20px;
      float: left;
      border: 10px solid black;
    
      flex-direction: row;
  }
  .my_UX_Skills {
      display: flex;
      height: fit-content;
      text-align:center;
      vertical-align: text-bottom;
      flex-direction: row;
      padding: 10px;
      background-color: #5F7A78;
      justify-content: center;
      align-items: baseline;*/
  }
  .box_row{
display: flex;
justify-content: space-around;

  }
.my_work{
display: grid;
  
}

  .button {
    width: 100px;
    height: 50px;
    padding: 1%;
    margin: 1%;
    text-align: center;
  

  }
  .grid-container {
   display: grid;
    grid-gap: 50px;
  }